[submodule "subprojects/c-periphery"]
	path = subprojects/c-periphery
	url = https://github.com/vsergeev/c-periphery.git
[submodule "subprojects/nanopb"]
	path = subprojects/nanopb
	url = https://github.com/nanopb/nanopb.git
