/* Test File */

stackswitcher#mainStackSwitcher {
    background-color: lightblue;
}

label#projectTitle {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: lightcoral;
}

stack label{
    font-size: large;
}
