/* Test File */

stackswitcher#mainStackSwitcher {
    font-size: large;
    font-weight: bold;
}

label#projectTitle {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: bold;
}

stack label{
    font-size: large;
}

label#Progressbar_Label {
    font-size: 25px;
    font-weight: bold;
}

combobox {
    font-size: large;
}

separator {
    background-color: rgb(93, 93, 93);
}
